$principal-color: #081528;
$secondary-color: #5F99A9;
$pastel-white: #FDEADE;
$red-gradient: linear-gradient(to right,  #FF0C0C, #FF3A6A );
$green-gradient : linear-gradient(to right, #00FFFF, #00FFA3 );
$blue-gradient: linear-gradient(to right, #1B2B44, #081528);




.contact-section{
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 495px;
    // position: relative;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    // justify-content: center;
}


.form-description{
    // color: #fff;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    text-align: center;
    margin-bottom: 50px;

    h2{
        font-size: 62px;
        color: $pastel-white;
        font-weight: 700;
        // letter-spacing: -2px;
    }
    p{
        font-size: 16px;
        color: $pastel-white;
        letter-spacing: .5px;
        font-weight: 300;

    }
}
input, textarea{
    box-shadow: 15px 18px 8px 0px rgba(0, 0, 0, 0.2);
}

form{
    text-align: center;
}

form input,form textarea {
    background-color: $pastel-white;
    color: #081528;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    resize: none;
}

form input::placeholder, form textarea::placeholder{
    padding: 5px 5px;
}


.form-name, .form-email, .form-subject{
    margin: 0 0px 35px 0 ;
    width: 230px;
    height: 41px;

}

.form-name{
    margin-right: 35px;
}

.form-subject{
    width: 495px;
}

.form-mesagge{
    width: 495px;
    height: 228px;
}

.form-btn{
    margin: 25px auto 0px auto;
    width: 115px;
    height: 35px;
    color: #081528;
    background:$green-gradient;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    border: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .form-name, .form-email, .form-subject{
        margin: 0 0px 35px 0 ;
        width: 42vw;
        height: 41px;
    
    }
    
    .form-name{
        margin-right: 35px;
    }
    
    .form-subject{
        width: 90vw;
    }
    
    .form-mesagge{
        width: 90vw;
        height: 228px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}