$principal-color: #081528;
$secondary-color: #5F99A9;
$pastel-white: #FDEADE;
$red-gradient: linear-gradient(to right,  #FF0C0C, #FF3A6A );
$green-gradient : linear-gradient(to right, #00FFFF, #00FFA3 );
$blue-gradient: linear-gradient(to right, #1B2B44, #081528);




.about-section{
    height: 100vh;
    // height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.13), rgba(0, 255, 163, 0.13) );
    overflow: hidden;

}

.info-container{
    // min-height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
}



.info-presentacion{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-bottom: 30px;
}

.info-presentacion h2{
    text-align: center;
    color: $pastel-white;
    font-size: 54px;
    font-weight: 400;
    
}

.info-presentacion p{
    color: $pastel-white;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 4px;
    margin-top: 20px;
    text-align: center;

    
}

.info-largo{
    
    text-align: center;
    color: #ddd;
    // line-height: 50px;
    line-height: 30px;
    padding: 0 9px;
}

.info-largo p {
    font-size: 14px;
}


.view-more-btn{
    font-size: 18px;
    font-weight: 800;
    background: $green-gradient;
    padding: 8px 22px;
    margin-top: 30px;
    width: auto;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    transition: .2s;
    -webkit-transition: .2s;
}

.view-more-btn:hover{
    background: $red-gradient;
    color: #fff;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .info-container{
        width: 65vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .info-container{
        width: 55vw;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}