<section class="about-section" id="about">
    <div class="info-container">
        <div class="info-presentacion">
            <h2>About me</h2>
            <p>IM {{persona.nombre}} {{persona.apellido}}. WEB DEVELOPER AND DESIGNER</p>
        </div>
        <div class="info-largo">
               <p>  I am a technical in business administration 
                    Web designer and Full stack developer. 
                    With experience in designing and developing websites and applications.
                    I have skills in HTML, CSS, JavaScript, and frameworks such as React and Angular 
                    I also have experience in developing back-end applications using languages such as 
                    PHP and Node.js, and databases such as MySQL and MongoDB.
                    Additionally, my study in business administration allows me to have a good 
                    understanding of businesses and how a website or application can contribute to  
                    a company's goals.
                    I am constantly learning and striving to improve my skills to offer high-quality 
                    solutions to my clients.</p>
        </div>
        <button type="button" class="btn btn-primary" routerLink="/editabout/1" *ngIf="isLogged">
            Editar Persona
        </button>
        <a class="view-more-btn" href="../../../assets/Curriculum.pdf" download="Curriculum">Download CV</a>


    </div>
</section>


