<section class="about-section" id="about">
    <div class="info-container col-6">
        <div class="info-presentacion">
            <h2>About me</h2>
            <p>IM {{persona.nombre}} {{persona.apellido}}. WEB DEVELOPER AND DESIGNER</p>
        </div>
        <div class="info-largo">
            <p>
               {{persona.descripcion}}
            </p>
        </div>
        <button type="button" class="btn btn-primary" routerLink="/editabout/1" *ngIf="isLogged">
            Editar Persona
        </button>
        <a class="view-more-btn" href="">Download CV</a>
    </div>
</section>


<!-- I am a technical in business administration <br>
Web designer and Full stack developer. <br> 
With experience in designing and developing websites and applications. <br>
I have skills in HTML, CSS, JavaScript, and frameworks such as React and Angular <br> 
I also have experience in developing back-end applications using languages such as <br> 
PHP and Node.js, and databases such as MySQL and MongoDB. <br>
Additionally, my study in business administration allows me to have a good <br>
understanding of businesses and how a website or application can contribute to  <br>
a company's goals. <br> 
I am constantly learning and striving to improve my skills to offer high-quality <br>
solutions to my clients. -->