<section class="footer-section">
    <footer>
        <div class="footer-contenedor">
            <h3>Facundo Aguirres</h3>
            <div class="texto-derecha">
                <div>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-browser-safari"></i></a>
                </div>
                <div>
                    <p>@2023 Facundo Aguirres.</p>
                </div>
                <div>
                    <p>Made in Buenos Aires, Argentina.</p>
                </div>
            </div>
        </div>
    </footer> 
</section>