<section id="projects" class="projects-section projects-container">

    <div class="projects-title" >
        <h2>PROJECTS</h2>
        
            <div class="col-lg-2">
                <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">
                    Nuevo Proyecto
                </button>
            </div>
    </div>

    <div class="box-container" >

        <!-- <div class="project-card" *ngFor="let Experiencia of expe">
            <img src="" alt="">
            <figcaption>
                <H3>{{Experiencia.nombreE}}</H3>
                <p>{{Experiencia.descripcionE}}</p>
                <button *ngIf="isLogged" class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i></button>
                <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-trash"></i></button>
            </figcaption>
        </div> -->

        <div class="project-card">
            <!-- <img src="" alt=""> -->
            <figcaption>
                <div>
                    <p class="fecha">2023</p>
                    <p class="descripcion">
                        HONEY <br>
                        E-COMMERCE <br>
                        WEBSITE</p>
                </div>
                <div class="btn-contenedor">
                    <a href=""><button>Read More</button></a>
                </div>
            </figcaption>
        </div>

        <div class="project-card">
            <!-- <img src="" alt=""> -->
            <figcaption>
                <div>
                    <p class="fecha">2023</p>
                    <p class="descripcion">
                        HONEY <br>
                        E-COMMERCE <br>
                        WEBSITE</p>
                </div>
                <div class="btn-contenedor">
                    <a href=""><button>Read More</button></a>
                </div>
            </figcaption>
        </div>

        <div class="project-card">
            <!-- <img src="" alt=""> -->
            <figcaption>
                <div>
                    <p class="fecha">2023</p>
                    <p class="descripcion">
                        HONEY <br>
                        E-COMMERCE <br>
                        WEBSITE</p>
                </div>
                <div class="btn-contenedor">
                    <a href=""><button>Read More</button></a>
                </div>
            </figcaption>
        </div>

    </div>
    
    </section>