<section class="projects-section">

    <div class="projects-container row col-5 offset-7 d-flex   justify-content-around">
    
        <div class="projects-title d-flex align-items-center" >
            <h2>Projects</h2>
        </div>
    
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
                Nueva Experiencia
            </button>
        </div>

        <div class="box-container" >
    
            <div class="project-card" *ngFor="let Experiencia of expe">
                <img src="" alt="">
                <H3>{{Experiencia.nombreE}}</H3>
                <p>{{Experiencia.descripcionE}}</p>
            </div>

        </div>
    </div>
    
    </section>