<section class="hero container presentacion" id="landing">


        <div class="presentacion-1">
            <h3>HI, IM</h3>
            <h1 class="name"> {{persona.nombre}} </h1>
            <!-- <h1>FACUNDO</h1> -->
        </div>
        <div class="presentacion-2">
            <p>UI/UX Designer & </p>
            <p>Full Stack Website Developer</p>
        </div>

        <div class="presentacion-3">
            <a class="view-more-btn" href="">View More</a>
            <!-- <i></i> -->
            <!-- <i></i> -->
        </div>


</section>