$principal-color: #081528;
$secondary-color: #5F99A9;
$pastel-white: #FDEADE;
$red-gradient: linear-gradient(to right,  #FF0C0C, #FF3A6A );
$green-gradient : linear-gradient(to right, #00FFFF, #00FFA3 );
$blue-gradient: linear-gradient(to right, #1B2B44, #081528);


.hero{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentacion-1 h3{
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

.presentacion-1 h1{
    background: $red-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 128px;
    font-weight: 900;
    letter-spacing: -4px;
    margin: 0;
    padding: 0;
    line-height: .8;
}

.presentacion-2{
    margin: 25px 0
}

.presentacion-2 p{
    font-size: 32px;
    font-weight: 200;
    background: $green-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    letter-spacing: 1px;

}

.view-more-btn{
    font-size: 18px;
    background: $red-gradient;
    padding: 8px 28px;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    transition: .2s;
    -webkit-transition: .2s;
}

.view-more-btn:hover{
    background: $green-gradient;
    color: black;
}