$principal-color: #081528;
$secondary-color: #5F99A9;
$pastel-white: #FDEADE;
$red-gradient: linear-gradient(to right,  #FF0C0C, #FF3A6A );
$green-gradient : linear-gradient(to right, #00FFFF, #00FFA3 );
$blue-gradient: linear-gradient(to right, #1B2B44, #081528);

.gradient-custom {

    background: $principal-color;
}