<section class="hero container-fluid d-flex align-items-center" id="landing">
    <div class="presentacion row d-flex">


        <div class="presentacion-1">
            <h1 class="hi-im">HI, IM</h1>
            <h1 class="name">{{persona.nombre}}</h1>
        </div>
        <div class="presentacion-2">
            <p>UI/UX Designer & </p>
            <p>Full Stack Website Developer</p>
        </div>

        <div class="presentacion-3">
            <a class="view-more-btn" href="">View More</a>
            <!-- <i></i> -->
            <!-- <i></i> -->
        </div>


    </div>
</section>